.container img{
    width: 100%;
    height: 97vh;
    position: absolute;
}

.heading{
    color: aliceblue;
    position: absolute;
    padding-top: 30px;
    padding-left: 300px;
    font-size: 75px;
}

.sub-heading{
    color: #fdab50;
    position: absolute;
    padding-top: 105px;
    padding-left: 304px;
    font-size: 45px;
}
.sidebar{
    position: absolute;
    height: 97vh;
    width: 240px;
    background-color: black;
    text-align: center;
    color: white;
}

.top1{
    margin-top: 30px;
    margin-bottom: 40px;
    background-color:#fdab50;
    font-size: 25px;
    cursor: pointer;
}

.bottom1{
    margin-top: 50px;
    background-color: #fdab50;
    font-size: 25px;
    cursor: pointer;
}
ul{
    text-align: left;
    list-style: none;
    font-size: 35px;
    margin:20px;
    cursor: pointer;
}
ul li{
    margin-top: 12px;
}
